body {
    font-family: 'Noto Sans', sans-serif;
}

h3 {
    font-size: 1.5rem;
}

.container {
    max-width: 400px;
    margin: 0 auto;
    background-color: #cfcee5;
    padding: 20px;
    color: #33341c;
}

.inner_wrapper input[type=text],
:in-range {
    width: 90%;
}

input[type='text'],
input[type='range'] {
    width: 90%;
    padding: 10px;
    margin-bottom: 10px;
}

input[type=text]:focus {
    background-color: rgb(51, 52, 28);
    color: rgb(207, 206, 229);
}

input[type='range'] {
    background-color: rgb(51, 52, 28);
    cursor: grab;
}


input[type=button] {
    font-size: 25px;
    background-color: rgb(51, 52, 28);
    color: rgb(207, 206, 229);
    padding: 8px;
    border-radius: 3px;
    border: 0px;
    cursor: pointer;
}

.showResultContainer {
    max-width: 400px;
    margin: 0 auto;
    background-color: #000;
    padding: 20px;
    color: #33341c;
    visibility: hidden;
}

.arrowStyle {
    font-size: 5.2rem;
    color: #fff;
}

#resultWrapper_el h3 span {
    color: #fff;
}

#chart {
    width: 400px;
    height: 400px;
    margin: 0 auto;
    margin-top: -16rem;
    margin-left: 19.5rem;
}

#monthly_el {
    display: flex;
    position: absolute;
    margin: -10.3rem 10.2rem;
    text-align: center;
    color: #fff;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 3%;
    font-size: 1.2rem;
}

#monthly_el h3 {
    font-size: 1rem;
}

#deposit_el{
    text-decoration: underline;
    cursor: pointer;
    display: block;
    padding: 0px;
    margin-top: -0.5rem;
}

.deposit_container{
    display: none;
}


.apexcharts-canvas {
    position: absolute !important;
    margin-top: 10rem;
    margin-left: -16rem;
}